## List

- ordered mutable collection of item
- they can contain items of different datatypes

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [1]:
names = ['abhishek', 'divyansh', 1,2,3,4]
print(names)

['abhishek', 'divyansh', 1, 2, 3, 4]

In [2]:
mixed_list = [1,2,3,True,3.14,"abhishek"]
print(mixed_list)

[1, 2, 3, True, 3.14, 'abhishek']

In [3]:
## Accessing elements in list

fruits = ["apple", "Banana", "cherry", "Kiwi", "Guava"]
fruits[0]

'apple'

In [5]:
print(fruits[2])

cherry

In [7]:
## negative indexing
print(fruits[-1], fruits[1], fruits[2])
print(fruits[-2])

Guava Banana cherry
Kiwi

In [ ]:
## Indexing in range

print(fruits[1:])
print(fruits[1:3])

['Banana', 'cherry', 'Kiwi', 'Guava']
['Banana', 'cherry']
['cherry', 'Kiwi']

In [ ]:
## Confusions in negative indexing'

print(fruits[-3: -1]) ## this works
print(fruits[-1:-3]) ## this does not work

In [10]:
# modifying list elements

fruits[1] = "Watermelon"
print(fruits)

['apple', 'Watermelon', 'cherry', 'Kiwi', 'Guava']

In [11]:
## How indexing does not work
fruits[1:] = "watermelon" ## expectation is that every element from 1 will be watermelon
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [12]:
fruits = ["apple", "Banana", "cherry", "Kiwi", "Guava"]

### List Methods

In [13]:
## Append at last
fruits.append('Orange')
print(fruits)

['apple', 'Banana', 'cherry', 'Kiwi', 'Guava', 'Orange']

In [ ]:
## Append at any index
fruits.insert(1, "Banana")
fruits.insert(1, "Watermelon")

In [15]:
print(fruits)

['apple', 'Watermelon', 'Banana', 'Banana', 'cherry', 'Kiwi', 'Guava', 'Orange']

In [ ]:
## removing element with name
fruits.remove("Banana") ## remove first element of occurence

In [18]:
fruits

['apple', 'Watermelon', 'Banana', 'cherry', 'Kiwi', 'Guava', 'Orange']

In [19]:
## Remove and return last 
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

Orange
['apple', 'Watermelon', 'Banana', 'cherry', 'Kiwi', 'Guava']

In [20]:
## get index
index = fruits.index("cherry")
print(index)

3

In [21]:
## Counting occurence of element
fruits.insert(2, "Banana")
banana_count = fruits.count("Banana")
print(banana_count)
print(fruits)

2
['apple', 'Watermelon', 'Banana', 'Banana', 'cherry', 'Kiwi', 'Guava']

In [22]:
fruits.sort() ## sort the list in ascending order
print(fruits)

['Banana', 'Banana', 'Guava', 'Kiwi', 'Watermelon', 'apple', 'cherry']

In [23]:
fruits.reverse()
fruits

['cherry', 'apple', 'Watermelon', 'Kiwi', 'Guava', 'Banana', 'Banana']

In [24]:
fruits.clear()
print(fruits)

[]

### Slicing List

In [26]:
## Slicing list

numbers = [0,1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[2, 3, 4]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [27]:
print(numbers[::-2])

[10, 8, 6, 4, 2, 0]

In [28]:
## Iterating over List
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
## iterating over list with index
for index, number in enumerate(numbers):
    print(f"{index} -> {number}")

0 -> 0
1 -> 1
2 -> 2
3 -> 3
4 -> 4
5 -> 5
6 -> 6
7 -> 7
8 -> 8
9 -> 9
10 -> 10

In [32]:
## List comprehension

lst = []
for x in range(11):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehension

In [33]:
## to perform same we have list comprehension
[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- syntax -> [expression for item in iterable]

- with conditional logic -> [expression for item in iterable if condition]

- nested list comprehension -> [expression for item1 in interable1 for item1 in interable1]

In [ ]:
## List comprehension with condition

even_square = [num**2 for num in range(11) if num%2==0]
print(even_square)

[0, 4, 16, 36, 64, 100]

In [35]:
## nested list comprehension

lst1 = [1,2,3,4]
lst2 = ['a', 'b', 'c', 'd']

pair = [(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [36]:
## List Comprehension with function call 

words = ["hello", "world", "python", "List", "comprehension"]
length  = [len(word) for word in words]

print(length)

[5, 5, 6, 4, 13]