## Lists

In [15]:
## iterating inside any iterable -> sorted
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]

sorted_students = sorted(students, key= lambda x: x['score'], reverse=True)

for student in sorted_students:
    print(student)

{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

## Tuples

**Multiplication in tuples**

In [16]:
# multiplication in tuples -> append the number of times it is multiplied

num = (1,2,3)
num*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**packing and unpacking of tuples**

In [17]:
## packing of tuples
nums = 1,2,3,4
print(nums)

## unpacking of tuples
a,b,c,d = nums
print(a)
print(b)
print(c)
print(d)

(1, 2, 3, 4)
1
2
3
4

**Unpacking of elements using star(*)**

In [18]:
# unpakcing using star(*)
first, *middle, last = nums

print(first)
print(middle)
print(last)

1
[2, 3]
4

In [19]:
*first_section, last = nums
print(middle)
print(last)

[2, 3]
4

In [20]:
first, *middle, last = nums
print(first)
print(middle)
print(last)

1
[2, 3]
4

In [21]:
first, *middle = nums
print(first)
print(middle)

1
[2, 3, 4]

## Sets

- for any element to be a part of set it must be **hashable** and **immutable**

----

**Immutable Data types**: The value cannot change once created.
examples: int, string, float, boolean, ***tuple***, ***forzenset***

**Hashable:** can be used as dictionary key or set element
**requirements for hashable:** must be immuatable and have fixed hash values.
**Example:** int, string, bool, **tuple**, etc

**IN PYTHON ALL IMUATBLE TYPES ARE HASHABLE BUT SOME CONTAINERS LIKE TUPLE ARE HASHABLE ONLY IF ALL THERE CONTENTS ARE HASHABLE**

----

#### Which data types are require immutable and hashable data types

1. Keys of dictionary
2. Elements of set

----

In [ ]:
# discard - removes element if present in set else do nothing

my_set = {1,2,3,4,5}
my_set .discard(11)
print(my_set)

In [ ]:
# pop - first in first out 

removed_element = my_set.pop()
print(removed_element)
print(my_set)

In [ ]:
## intersection update -> updates the set with intersection of itself and another

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7}

set1.intersection_update(set2)
print(set1)

In [ ]:
# difference removes the intersection from a given set and gives unique element to that set

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# difference
print(set1.difference(set2))

# set-difference-update
set1.difference_update(set2)
print(set1)

In [3]:
## symmetric-differce -> gives the unique elements from both the sets

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

sym_difference = set1.symmetric_difference(set2)
print(sym_difference)

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

**Forzenset**

In [ ]:
# Assignment-8:
fs = frozenset(range(1, 6))
print(fs)

**Since a set is mutable and cannot be hashed it cannot be part of Dict,set**

In [1]:
# since frozen set is immutable and hashable

dict = {
    frozenset({1,2}) : 1,
    frozenset({3,4}) : 2,
    frozenset({5,6}) : 3
}

print(dict)

{frozenset({1, 2}): 1, frozenset({3, 4}): 2, frozenset({5, 6}): 3}

**Removing elements from set**

In [ ]:
# Assignment-12
set12 = set(range(1,11))

while set12:
    set12.pop()
    print(set12)

## Dictionary

In [ ]:
# default value if key is not in the dictionary

print(student.get('last_name', "INVALID KEY"))

In [ ]:
# Deleting the key-value pair
del student['grade']