## Tuples

- ordered collection of items that are immutable. Similar to list but immutablity makes them different

In [1]:
##
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
## using class
tple = tuple()
print(type(tple))

<class 'tuple'>

In [ ]:
## putting items in tuples

num = tuple([1,2,3,4,5,6]) ## convering list into tuple
print(num)
print(type(num))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [4]:
## converting tuple to list
tuple_nums = (1,2,3,4,5)
print(tuple_nums)
print(type(tuple_nums))

list_tuple_nums = list(tuple_nums)
print(list_tuple_nums)
print(type(list_tuple_nums))

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
mixed_tuple = (1,2,3,'abhishek',5.5, True)

In [7]:
## accessing tuple elements

num = tuple([1,2,3,4,5,6])

print(num[0])
print(num[-1])

1
6

In [8]:
## slicing

num[::-1]

(6, 5, 4, 3, 2, 1)

In [9]:
## tuple operations
num = tuple([1,2,3,4,5,6])

mixed_tuple = (1,2,3,'abhishek',5.5, True)

concat_tuple = num + mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 'abhishek', 5.5, True)

In [10]:
mixed_tuple * 3

(1,
 2,
 3,
 'abhishek',
 5.5,
 True,
 1,
 2,
 3,
 'abhishek',
 5.5,
 True,
 1,
 2,
 3,
 'abhishek',
 5.5,
 True)

### immutable nature of tuples

In [ ]:
# tuples are immutable, meaning any element inside the tuple cannot be changed once assigned
num

num[0] = 11

#- to change convert to list
#- change the element
#- convert back to tuple

TypeError: 'tuple' object does not support item assignment

In [15]:
# tuple methods
num = tuple([1,1,2,3,4,5,6])

count1 = num.count(1)
index3 = num.index(3)

print(count1)
print(index3)

2
3

In [16]:
# Packing and unpacking tuples

packed_tuple = 1,2,3,3.14,2.016
print(packed_tuple)
print(type(packed_tuple))

(1, 2, 3, 3.14, 2.016)
<class 'tuple'>

In [18]:
## Unpacking tuple
a,b,c,d,e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
3.14
2.016

In [20]:
## unpacking tuples using *

packed_tuple = 1, 2, 3, 3.14, 2.016

first , *middle, last = packed_tuple


print(first)
print(middle)

1
[2, 3, 3.14]

In [21]:
# Nested list

lst = [
    [1,2,3,4],
    [5,6,7,8],
    [1,"Hello",3.14,c]
]

print(lst[0])
print(lst[1])
print(lst[2])

[1, 2, 3, 4]
[5, 6, 7, 8]
[1, 'Hello', 3.14, 3]

In [22]:
print(lst[0][:2])

[1, 2]

In [23]:
nested_tple = [
    (1,2,3,4),
    (5,6,7,8),
    (1,"Hell0",3.14,c)
]

In [24]:
## iterating over nested tuple
for sub_tuple in nested_tple:
    print(sub_tuple)

(1, 2, 3, 4)
(5, 6, 7, 8)
(1, 'Hell0', 3.14, 3)

In [26]:
for sub_tuple in nested_tple:
    for element in sub_tuple:
        print(element, end=" ")
    print()

1 2 3 4
5 6 7 8
1 Hell0 3.14 3