In [2]:
from operator import truediv

# assignment:1
import pandas as pd
import numpy as np
from pycparser.c_ast import Assignment

In [4]:
data = np.random.randint(1,100, size=(6,4))
df = pd.DataFrame(data,columns=['A','B','C','D'])

print("Original Data frame: \n", df)

Original Data frame:
     A   B   C   D
0  38  93  40  38
1  45  49  51  48
2  27  86  10  35
3  43  74  53  59
4  94  64  20  60
5  55  39  65  57

In [6]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  11  49  16  18
1  53  26  52  74
2  30  21  24  13
3  41  11  27  68
4  92  65  88  10
5  57  51  81  54
DataFrame with new index:
     B   C   D
A
11  49  16  18
53  26  52  74
30  21  24  13
41  11  27  68
92  65  88  10
57  51  81  54

In [9]:
data = np.random.randint(1,100,size=(3,3))
df = pd.DataFrame(data,columns=['A', 'B', 'C'],index = ['X','Y','Z'])

print(df)

    A   B   C
X  75  90  75
Y  14  71  96
Z  92  15  63

In [14]:
print(df.loc['Y','B'])

71

In [24]:
# Assignment 2
data = np.random.randint(1,100,size=(5,3))
df = pd.DataFrame(data,columns=['A', 'B', 'C'])
print("Original Dataframe")
print(df)

# adding new column
df['D'] = df['A'] * df['B']
print(df)

Original Dataframe
    A   B   C
0  55  51  64
1  68  32  83
2  85  80  50
3  85  98  71
4  96  56  32
    A   B   C     D
0  55  51  64  2805
1  68  32  83  2176
2  85  80  50  6800
3  85  98  71  8330
4  96  56  32  5376

In [26]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame")
print(df)

row_sum = df.sum(axis=1)
col_sum = df.sum(axis=0)

print(row_sum)
print(col_sum)

Original DataFrame
    A   B   C   D
0  97  54  90  83
1  50  18  90  91
2  19  33  12  72
0    324
1    249
2    136
dtype: int64
A    166
B    105
C    192
D    246
dtype: int64

In [30]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,5)), columns=['A', 'B', 'C', 'D', 'E'])
print("Original DataFrame")
# print(df)

# introduce nan values
df.iloc[0,0] = np.nan
df.iloc[1,1] = np.nan
df.iloc[2,2] = np.nan

print(df)

df.fillna(df.mean(), inplace=True)
print(df)

Original DataFrame
      A     B     C   D   E
0   NaN  74.0  60.0  16  67
1  22.0   NaN  27.0  98  62
2   2.0  16.0   NaN  37  49
      A     B     C   D   E
0  12.0  74.0  60.0  16  67
1  22.0  45.0  27.0  98  62
2   2.0  16.0  43.5  37  49

In [33]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame: \n",df)

# introducing nan values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan

# table with nan
print(df)

df.dropna(inplace=True)
print("Dropped Na: \n",df)

Original DataFrame:
     A   B   C   D
0  20  43  89   5
1  16  85  33  25
2  93  14  14  80
3  11  84  81  63
4  65  30  23   1
5  60  45  91  83
      A     B     C   D
0  20.0  43.0  89.0   5
1  16.0  85.0   NaN  25
2  93.0  14.0  14.0  80
3   NaN  84.0  81.0  63
4  65.0  30.0  23.0   1
5  60.0   NaN  91.0  83
Dropped Na:
       A     B     C   D
0  20.0  43.0  89.0   5
2  93.0  14.0  14.0  80
4  65.0  30.0  23.0   1

In [34]:
data = {
    'Category' : np.random.choice(['A','B','C'],size=10),
    'value' : np.random.randint(1,100,size=10)
}
df = pd.DataFrame(data)
print(df)

  Category  value
0        C     69
1        A     81
2        A     81
3        B      8
4        C     86
5        A     61
6        B     90
7        B     24
8        B     85
9        A     93

In [35]:
sum_of_category = df.groupby('Category')['value'].sum()
print(sum_of_category)

mean_of_categories = df.groupby('Category')['value'].mean()
print(mean_of_categories)

count_of_categories = df.groupby('Category')['value'].count()
print(count_of_categories)

Category
A    316
B    207
C    155
Name: value, dtype: int32
Category
A    79.00
B    51.75
C    77.50
Name: value, dtype: float64
Category
A    4
B    4
C    2
Name: value, dtype: int64

In [40]:
# generating data
data = {
    'product':np.random.choice(['A','B','C','D','E'],size=20),
    'category':np.random.choice(['fashion','electronics','kitchenware','home_decor','furniture'],size=20),
    'sales':np.random.randint(1,100,size=20)
}

df = pd.DataFrame(data)
print(df)

   product     category  sales
0        E  kitchenware     59
1        C   home_decor      4
2        C   home_decor     85
3        E  electronics     50
4        C  electronics     23
5        E    furniture     27
6        D      fashion     40
7        E      fashion     33
8        B  electronics     87
9        A    furniture     76
10       A  electronics     46
11       D  kitchenware     36
12       B  kitchenware     38
13       E  kitchenware      4
14       A    furniture     37
15       C  kitchenware      8
16       E      fashion     77
17       A  electronics     74
18       B  electronics     14
19       E      fashion     34

In [42]:
total_sale_by_category = df.groupby('category')['sales'].sum()

print(total_sale_by_category)

category
electronics    294
fashion        184
furniture      140
home_decor      89
kitchenware    145
Name: sales, dtype: int32

In [3]:
# Assignment 5
df1 = pd.DataFrame({
    'key':['A','B','C','D'],
    'value1': np.random.randint(1,100,size=4)
})

df2 = pd.DataFrame({
    'key':['A','B','C','E'],
    'value2': np.random.randint(1,100,size=4)
})

print("Data1: \n", df1)
print("Data2: \n", df2)

Data1:
   key  value1
0   A      77
1   B      22
2   C      22
3   D      74
Data2:
   key  value2
0   A      76
1   B      66
2   C      49
3   E      65

In [4]:
merged = pd.merge(df1, df2, on='key')
print("Merged array: \n", merged)

Merged array:
   key  value1  value2
0   A      77      76
1   B      22      66
2   C      22      49

In [5]:
df1 = pd.DataFrame({
    'A':np.random.randint(1,100,size=3),
    'B':np.random.randint(1,100,size=3)
})

df2 = pd.DataFrame({
    'C':np.random.randint(1,100,size=3),
    'D':np.random.randint(1,100,size=3)
})

print("Data 1: \n",df1)
print("Data 2: \n",df2)

# concatenate the DataFrames along the rows
concat_row = pd.concat([df1,df2],axis=0)
print("Concatenated DataFrame (rows): ")
print(concat_row)

# concatenate the dataframe along the columns
concat_col = pd.concat([df1,df2],axis=1)
print("Concatenated DataFrame (columns):")
print(concat_col)

Data 1:
     A   B
0  30  79
1  96  20
2  45  24
Data 2:
     C   D
0   7  52
1  56  13
2  40  64
Concatenated DataFrame (rows):
      A     B     C     D
0  30.0  79.0   NaN   NaN
1  96.0  20.0   NaN   NaN
2  45.0  24.0   NaN   NaN
0   NaN   NaN   7.0  52.0
1   NaN   NaN  56.0  13.0
2   NaN   NaN  40.0  64.0
Concatenated DataFrame (columns):
    A   B   C   D
0  30  79   7  52
1  96  20  56  13
2  45  24  40  64

In [6]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  38  88
1  94  16
2  59  56
DataFrame 2:
    C   D
0   2  84
1  90  83
2  47  26
Concatenated DataFrame (rows):
      A     B     C     D
0  38.0  88.0   NaN   NaN
1  94.0  16.0   NaN   NaN
2  59.0  56.0   NaN   NaN
0   NaN   NaN   2.0  84.0
1   NaN   NaN  90.0  83.0
2   NaN   NaN  47.0  26.0
Concatenated DataFrame (columns):
    A   B   C   D
0  38  88   2  84
1  94  16  90  83
2  59  56  47  26

In [12]:
# Assignment 6
date_rng = pd.date_range(start='2025-01-01',end='2025-12-31', freq='D')

df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))

df.set_index('date', inplace = True)
print("Original DataFrame:")
print(df)

Original DataFrame:
            data
date
2025-01-01    10
2025-01-02    98
2025-01-03    69
2025-01-04    42
2025-01-05    84
...          ...
2025-12-27    32
2025-12-28    99
2025-12-29    50
2025-12-30    62
2025-12-31    12

[365 rows x 1 columns]

In [13]:
# resample dataframe to compute monthly mean
monthly_mean = df.resample('ME').mean()
print(monthly_mean)

                 data
date
2025-01-31  51.483871
2025-02-28  38.178571
2025-03-31  44.774194
2025-04-30  52.666667
2025-05-31  46.870968
2025-06-30  46.333333
2025-07-31  49.483871
2025-08-31  58.290323
2025-09-30  43.300000
2025-10-31  42.258065
2025-11-30  48.033333
2025-12-31  48.483871

In [15]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
# print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  53.428571
2021-12-28  50.142857
2021-12-29  48.571429
2021-12-30  45.857143
2021-12-31  50.000000

[365 rows x 1 columns]