In [ ]:
# Assignment-1

tupe1 = tuple(range(1,11))
print(tupe1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Assignment-2

first = tupe1[0]
print(first)

last = tupe1[-1]
print(last)

n = len(tupe1)

if n%2 ==0:
    middle1 = n//2
    print(middle1)

    middle2 = middle1+1
    print(middle2)
else :
    middle = n//2
    print(middle)

1
10
5
6

In [8]:
# Assignement-3
first3 = tupe1[:3]
last3 = tupe1[-3:]

print(first3)
print(last3)

(1, 2, 3)
(8, 9, 10)

In [10]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(matrix[1][2])

6

In [11]:
# Assignment-5

tupe2 = (1,2,3)
tupe3 = (4,5,6)

concat_tupe = tupe2 + tupe3
print(concat_tupe)

(1, 2, 3, 4, 5, 6)

In [12]:
# Assignment-6

tupe6 = (1,1,1,2,3,4,5)

occurence = tupe6.count(1)
index = tupe6.index(1)

print(occurence)
print(index)

3
0

In [13]:
# assignment-7

tupe7 = 1,2,3,4,5

a,b,c,d,e = tupe7
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [14]:
# Assignment-8

lst = [2,4,6]

tupe8 = tuple(lst)

print(type(tupe8))

<class 'tuple'>

In [15]:
# Assignment-9

matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for subtupe in matrix:
    print(subtupe)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [1]:
# Assignment-10

tupe10 = tuple(range(1,6))

lst10 = list(tupe10)

lst10.append(6)

tupe10 = tuple(lst10)

print(tupe10)
print(type(tupe10))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [2]:
## Assignemnt-11

tupe11 = ('a', 'b', 'h', 'i')
s_name = ""
for s in tupe11:
    s_name = s_name + s

In [3]:
print(s_name)

abhi

In [4]:
# Assignment-12

dict = {
    (1,2) : 10,
    (3,4) : 20,
    (5,6) : 30
}

print(dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [ ]:
# Assignment-13

matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for subtuple in matrix: 
    for element in subtuple:
        print(element, end=" ")

1 2 3 4 5 6 7 8 9

In [8]:
# Assignment-14

dupe = (1,1,2,3,4,4,5,6,6)
set_of_dupe = set(dupe)

print(set_of_dupe)
print(type(set_of_dupe))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [11]:
# Assignment-15

def min_max_sum(tupes):
    n = len(tupes)

    # finding max
    max = tupes[0]
    for i in range(0,n):
        if tupes[i]>max:
            max = tupes[i]
    print("highest element:", max)

    # finding min
    min = tupes[0]
    for i in range(0,n):
        if tupes[i]<min:
            min = tupes[i]
    print("Lowest element:",min)

    # finding sum
    sum = 0
    for i in range(0,n):
        sum = sum + tupes[i]
    print("sum of element:",sum)

tupe_check = (1,2,3,-1,0,-2,45,6)
min_max_sum(tupe_check)

highest element: 45
Lowest element: -2
sum of element: 54