# CRUD Operations With SQLite3 and Python

In [11]:
import sqlite3

# connecting to sqlite3 db
connection = sqlite3.connect('example.db')
connection

In [12]:
# for iterating through table
cursor = connection.cursor()

In [13]:
# create a table
cursor.execute('''
Create Table If Not Exists employees(

    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
                                  
    )
''')

# commit the changes
connection.commit()

In [16]:
# made an error while creating the table so have to drop
cursor.execute("DROP TABLE IF EXISTS Employees")

In [17]:
connection.commit()

cursor.execute('''
Create Table If Not Exists employees(

    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
                                  
    )
''')

connection.commit()

In [18]:
# selecting 
cursor.execute('''
select * from employees
''')

In [19]:
# inserting data into sqlite
cursor.execute('''
INSERT INTO Employees(name,age,department)
               values("Krish", 32, "Engineering")
''')

cursor.execute('''
INSERT INTO Employees(name,age,department)
               values("Bob", 28, "Marketing")
''')

cursor.execute('''
INSERT INTO Employees(name,age,department)
               values("Charlie", 32, "Finance")
''')

# commiting the data
connection.commit()

In [ ]:
# printing the data 
cursor.execute("SELECT * from employees")
rows = cursor.fetchall()

print(type(rows))

for row in rows:
    print(row)

<class 'list'>
(1, 'Krish', 32, 'Engineering')
(2, 'Bob', 28, 'Marketing')
(3, 'Charlie', 32, 'Finance')

In [23]:
# Updating the data
cursor.execute('''
UPDATE employees
               SET age = 20
               WHERE name = "Krish"

''')
connection.commit()

In [24]:
cursor.execute("SELECT * from employees")
rows = cursor.fetchall()

print(type(rows))

for row in rows:
    print(row)

<class 'list'>
(1, 'Krish', 20, 'Engineering')
(2, 'Bob', 28, 'Marketing')
(3, 'Charlie', 32, 'Finance')

In [26]:
# delete the data from the table
cursor.execute('''
DELETE FROM employees
               WHERE name = 'Bob'
''')

connection.commit()

In [27]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 20, 'Engineering')
(3, 'Charlie', 32, 'Finance')