In [1]:
import sqlite3

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Creating table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sale INTEGER,
               region TEXT
               )
''')
connection.commit()

In [3]:
sales = [
    ("2025-10-01", "Laptop", 5, "North"),
    ("2025-10-02", "Smartphone", 10, "South"),
    ("2025-10-03", "Tablet", 7, "East"),
    ("2025-10-04", "Headphones", 15, "West"),
    ("2025-10-05", "Smartwatch", 8, "North"),
    ("2025-10-06", "Camera", 4, "South"),
    ("2025-10-07", "Printer", 6, "East"),
    ("2025-10-08", "Monitor", 3, "West"),
    ("2025-10-09", "Keyboard", 12, "North"),
    ("2025-10-10", "Mouse", 20, "South")
]

cursor.executemany('''
INSERT INTO sales(date,product,sale,region)
                   values(?,?,?,?)

''',sales)
connection.commit()

In [4]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2025-10-01', 'Laptop', 5, 'North')
(2, '2025-10-02', 'Smartphone', 10, 'South')
(3, '2025-10-03', 'Tablet', 7, 'East')
(4, '2025-10-04', 'Headphones', 15, 'West')
(5, '2025-10-05', 'Smartwatch', 8, 'North')
(6, '2025-10-06', 'Camera', 4, 'South')
(7, '2025-10-07', 'Printer', 6, 'East')
(8, '2025-10-08', 'Monitor', 3, 'West')
(9, '2025-10-09', 'Keyboard', 12, 'North')
(10, '2025-10-10', 'Mouse', 20, 'South')

In [5]:
# close the connection
connection.close()