In [2]:
import sqlite3

In [4]:
# creat a new db
def creat_new_db(dbname):
    conn = sqlite3.connect(dbname)
    conn.close()
    print("database created and successfully connected.")

creat_new_db('test.db')

database created and successfully connected.

In [6]:
def create_table(tableName):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute(f'''
    CREATE TABLE IF NOT EXISTS {tableName}(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
        )
    ''')

    conn.commit()
    conn.close()
    print(f"Table {tableName} created successfully.")

create_table('employees')

Table employees created successfully.

In [9]:
def insert_employee_data(name,age,department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''
    INSERT INTO employees(name,age,department)
    VALUES (?,?,?)
    ''',(name,age,department))

    conn.commit()
    conn.close()
    print("Employee inserted Successfully")

insert_employee_data('abhishek', 22, 'engineering')

Employee inserted Successfully

In [ ]:
insert_employee_data('Bob', 25, 'Engineering')
insert_employee_data('Charlie', 28, 'Sales')
insert_employee_data('David', 35, 'Marketing')
insert_employee_data('Eve', 22, 'HR')

Employee inserted Successfully
Employee inserted Successfully
Employee inserted Successfully
Employee inserted Successfully

In [6]:
def fetch_all_data():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()

    conn.close()

    for row in rows:
        print(row)

    print("Data Retreived.")

# fetch_all_data()

In [17]:
insert_employee_data('Steve', 29, 'HR')
insert_employee_data('Mark', 20, 'HR')
insert_employee_data('Robert', 32, 'Sales')
insert_employee_data('Chris', 35, 'Sales')

Employee inserted Successfully
Employee inserted Successfully
Employee inserted Successfully
Employee inserted Successfully

In [27]:
# filtering basd on departemnt
def fetch_employees_by_department(department):
    
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()

    for record in records:
        if record[3] == department:
            print(record)
        # print(record)

In [28]:
fetch_employees_by_department('Sales')

(3, 'Charlie', 28, 'Sales')
(8, 'Robert', 32, 'Sales')
(9, 'Chris', 35, 'Sales')

In [29]:
# metod2
def fetch_employees_by_department(department):
    
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM employees WHERE department = ?', (department,))
    records = cursor.fetchall()
    conn.close()

    for record in records:
        # if record[3] == department:
        #     print(record)
        print(record)

fetch_employees_by_department('Sales')

(3, 'Charlie', 28, 'Sales')
(8, 'Robert', 32, 'Sales')
(9, 'Chris', 35, 'Sales')

In [3]:
# updating department

def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        UPDATE employees
            SET department = ?
            WHERE id = ?
    ''',(new_department,employee_id))
    conn.commit()
    conn.close()
    print('Employee Department Updated Successfully')

# update data
update_employee_department(1,'HR')

Employee Department Updated Successfully

In [4]:
update_employee_department(8,'HR')
update_employee_department(9,'HR')

Employee Department Updated Successfully
Employee Department Updated Successfully

In [7]:
fetch_all_data()

(1, 'abhishek', 22, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Steve', 29, 'HR')
(7, 'Mark', 20, 'HR')
(8, 'Robert', 32, 'HR')
(9, 'Chris', 35, 'HR')
Data Retreived.

In [12]:
# Assignment 5
def delete_employee_data(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''',(employee_id,))
    
    conn.commit()
    conn.close()
    print("Employee Data Deleted")

delete_employee_data(1)

Employee Data Deleted

In [14]:
delete_employee_data(9)
fetch_all_data()

Employee Data Deleted
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Steve', 29, 'HR')
(7, 'Mark', 20, 'HR')
(8, 'Robert', 32, 'HR')
Data Retreived.

In [15]:
# adevance queries
def fetch_employees_older_than(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM employees WHERE age>?',(age,))
    records = cursor.fetchall()

    conn.close()

    for record in records:
        print(record)
fetch_employees_older_than(30)

(4, 'David', 35, 'Marketing')
(8, 'Robert', 32, 'HR')

In [17]:
def fetch_employees_name_start_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter + '%',))
    records = cursor.fetchall()

    conn.close()
    for record in records:
        print(record)

fetch_employees_name_start_with('D')

(4, 'David', 35, 'Marketing')

In [24]:
def insert_many_employees(data):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    try:
        cursor.executemany('''
            INSERT INTO employees (name,age,department)
            VALUES (?,?,?)
        ''',data)
        conn.commit()
        print("All employees inserted successfully")
    except Exception as e:
        conn.rollback()
        print(e)
        print("Error Occured, transaction rolled back")
    finally:
        conn.close()
# test
employees = [
    ('Frank', 40, 'Finance'),
    ('Grace', 29, 'Engineering'),
    ('Hannah', 35, 'Marketing'),
    ('Ivan', 38, 'Sales'),
    ('Jack', 45, 'HR')  
]

insert_many_employees(employees)
fetch_all_data()

All employees inserted successfully
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Steve', 29, 'HR')
(7, 'Mark', 20, 'HR')
(8, 'Robert', 32, 'HR')
(9, 'Frank', 40, 'Finance')
(10, 'Grace', 29, 'Engineering')
(11, 'Hannah', 35, 'Marketing')
(12, 'Ivan', 38, 'Sales')
(13, 'Jack', 45, 'HR')
Data Retreived.

In [26]:
def update_multiple_employee_age(update):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    try:
        cursor.executemany('''
        UPDATE employees
        SET age = ?
        WHERE id = ?
        ''',update)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occured, transaction rolled back")
        print(e)
    finally:
        conn.close()
data = [
    (50, 2),
    (45, 3),
    (40, 13)
]

update_multiple_employee_age(data)
fetch_all_data

All employee ages updated successfully.

In [27]:
fetch_all_data()

(2, 'Bob', 50, 'Engineering')
(3, 'Charlie', 45, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Steve', 29, 'HR')
(7, 'Mark', 20, 'HR')
(8, 'Robert', 32, 'HR')
(9, 'Frank', 40, 'Finance')
(10, 'Grace', 29, 'Engineering')
(11, 'Hannah', 35, 'Marketing')
(12, 'Ivan', 38, 'Sales')
(13, 'Jack', 40, 'HR')
Data Retreived.

In [30]:
# Assignment 8:
def create_table(tableName):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute(f'''
    CREATE TABLE IF NOT EXISTS {tableName}(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL)
    ''')

    conn.commit()
    conn.close()
    print(f"Table {tableName} created successfully.")

create_table('departments')

Table departments created successfully.

In [33]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.executescript('''
    PRAGMA foreign_keys = OFF;
    BEGIN TRANSACTION;

    ALTER TABLE employees RENAME TO old_employees;

    CREATE TABLE employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT,
        department_id INTEGER,
        FOREIGN KEY(department_id) REFERENCES departments(id)
    );

    INSERT INTO employees (id, name, age, department)
    SELECT id, name, age, department FROM old_employees;

    DROP TABLE old_employees;

    COMMIT;
    PRAGMA foreign_keys = ON;
    ''')

    conn.close()
    print("Table 'employees' modified successfully")
# test
add_department_foreign_key()

Table 'employees' modified successfully

In [38]:
def insert_employee_and_department(department_id, department_name,employee_id, name, age, employee_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''',(department_id, department_name))

        cursor.execute('''
            INSERT INTO employees (id,name, age, department, department_id)
            VALUES (?,?,?,?,?)
        ''',(employee_id,name,age,employee_department,department_id))
        conn.commit()
    except Exception as e:
        conn.rollback()
        print('error occured, all changes rolledback, all process aborted')
        print(e)
    finally:
        conn.close()
# test
insert_employee_and_department(1,'Finance', 16,"alice", 28, 'Finance')

In [39]:
# assignment: 9(1)
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('CREATE INDEX indx_name ON employees(name)')

    conn.commit()
    conn.close()

    print('Index successfully created on name.')
create_index_on_name()

Index successfully created on name.

In [40]:
# Assignment: 9(2)
import time

def search_name_with_letter(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    start = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter + '%',))
    records = cursor.fetchall()
    end = time.time()
    conn.close()

    print("time taken: {} seconds".format(end - start))

    for record in records:
        print(record)
# test
search_name_with_letter('B')

time taken: 0.0 seconds
(2, 'Bob', 50, 'Engineering', None)

In [41]:
# Assignment 10:(1)
import shutil
def make_backup():
    shutil.copy('test.db','backup.db')
    print("Database backed up successfully.")

# test
make_backup()

Database backed up successfully.

In [42]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.